# Database configurations — Supabase
# Utilisation du port 6543 (Transaction Mode) pour éviter le blocage à 15 connexions
DB_HOST=aws-1-eu-north-1.pooler.supabase.com
#DB_PORT=5432
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.rcdjrdjxqfqeccvaarhs
DB_PASSWORD=smartestatehub12345

# HikariCP : désactive les prepared statements serveur (fix erreur S_1 avec Supabase Transaction Mode)
spring.datasource.hikari.data-source-properties.prepareThreshold=0
spring.datasource.hikari.maximum-pool-size=3
spring.datasource.hikari.minimum-idle=1

# OpenAI credentials
OPENAI_API_KEY=votre_cle_openai_ici
NVIDIA_NIM_API_KEY=

# RapidAPI credentials : API des annonces immobiliers : Realty in US by apidojo d'apres RapidApi
RAPIDAPI_KEY=b879c336ebmsh11ae057a02789a7p10596ajsnfad0441bbe14
RAPIDAPI_HOST=realty-in-us.p.rapidapi.com
ZILLOW_HOST=zillow-com1.p.rapidapi.com

# SendGrid credentials
SENDGRID_API_KEY=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
SENDGRID_FROM_EMAIL=nnew00002@gmail.com

# JWT Configuration (Générer une clé sécurisée de 32+ caractères)
JWT_SECRET=super_secret_key_32_chars_or_more_change_me_in_production

# n8n Webhook Configuration
N8N_WEBHOOK_URL=http://localhost:5678/webhook

#Cloudinary credentials
CLOUDINARY_CLOUD_NAME=dam3isgtd
CLOUDINARY_UPLOAD_PRESET=Rawabet
VITE_API_BASE_URL=http://localhost:8081
